/* e1f1d6gn0 */
/* .st-emotion-cache-1xw8zd0 {
    height: calc(80vh - 30px) !important; 
    overflow-y: scroll;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');

* {
    font-family: 'Cairo', sans-serif !important;
}

p {
    font-size: 8px !important;
    font-weight: 500;
}

h1:not(#welcome-at-kevin, #configure-some-settings) {
    width: 30% !important;
    font-weight: 400 !important;
    margin-bottom: calc(1rem);
    font-size: 10px;
    border-top: 5px solid #3572ff;

    color: #46494c;
    background-color: #f1f5f7;

    /* color: #ffffff;
    background-color: #30303a; */

    padding: 8px 0;
    padding-left: 20px;
    padding-right: -20px;
    border-radius: 0.2rem;
}

.st-emotion-cache-j78z8c {
    padding-left: 20px !important;
}

.block-container.st-emotion-cache-z5fcl4.ea3mdgi5:nth-child(1) {
    max-width: 800px;
}

/* button */
.st-emotion-cache-1kqucs1 {
    background-color: #3572ff;
    color: #fff;
    border: none;
    outline: none;
    width: 30%;
    height: 40px;
    transition: 0.4s;
}

.st-emotion-cache-1kqucs1:hover {
    box-shadow: 0 0 0 5px #c0d3ff;
    color: #fff;
    border: none;
}

.st-emotion-cache-1kqucs1:focus {
    color: #fff !important;
    box-shadow: none;
    border: none;
}